.Button {
    position: relative;
    display: flex;
    width: fit-content;
    justify-content: center;
    padding: 1.4rem;

    &:disabled {
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        cursor: pointer;
    }

    &:active:not(:disabled) {
        transform: scale(0.99);
    }
}

.primary {
    background-color: var(--primary-color);
    font-size: 1.6rem;
    color: var(--background-color);
    font-family: var(--serif-font-bold);
    border-radius: var(--border-radius-medium);
    transition: all ease 0.5s;
    transform: scale(1);

    @keyframes spinner {
        0% {
            transform: translate3d(-50%, -50%, 0) rotate(0deg);
        }
        100% {
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
        }
    }

    &.loading {
        transform: scale(0.9);

        &::before {
            animation: 1.5s linear infinite spinner;
            animation-play-state: inherit;
            border: solid 2px var(--background-color);
            border-bottom-color: var(--primary-color);
            border-radius: 50%;
            content: '';
            height: 1.5rem;
            position: absolute;
            top: 50%;
            right: 2rem;
            transform: translateY(-50%);
            width: 1.5rem;
            will-change: transform;
        }
    }
}

.outline {
    background-color: var(--background-color);
    font-size: 1.4rem;
    font-family: var(--serif-font-medium);
    color: var(--text-color);
    border: 1px solid var(--neutral-color);
    border-radius: var(--border-radius-small);
}

.block {
    width: 100%;
}
