.ForgotPasswordForm {
    width: 100%;

    .fieldsContainer {
        margin-bottom: 1.5rem;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        row-gap: 2.5rem;
    }

    .buttonsContainer {
        margin-top: 2.3rem;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
}
