.container {
    .inputContainer {
        position: relative;
    }

    .rightAddon {
        position: absolute;
        top: 50%;
        right: 1.4rem;
        transform: translateY(-50%);
    }

    .label {
        margin-bottom: 0.8rem;
        font-family: var(--serif-font-medium);
        font-size: 1.5rem;
        color: var(--text-color);
    }

    .error {
        margin-left: 0.8rem;
        margin-top: 0.8rem;
        font-size: 1.4rem;
        color: var(--danger-color);
    }
}

.Input {
    width: 100%;
    padding: 1.4rem;
    font-size: 1.5rem;
    font-family: var(--serif-font-regular);
    color: var(--text-color);
    border: 1px solid var(--neutral-color);
    border-radius: var(--border-radius-small);

    &::placeholder {
        color: var(--neutral-color);
    }

    &.withRightAddon {
        padding-right: calc(1.4rem + 2rem + 1.4rem);
    }
}
