.appNormalTheme {
    --serif-font-regular: 'BasisGrotesqueProRegular';
    --serif-font-medium: 'BasisGrotesqueProMedium';
    --serif-font-bold: 'BasisGrotesqueProBold';

    --primary-color: #316fea;
    --text-color: #1a1919;
    --background-color: #fff;
    --neutral-color: #e3e6e9;
    --danger-color: #8b0000;

    --border-radius-small: 6px;
    --border-radius-medium: 8px;
}
