.ResetPassword {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    .appLogo {
        margin-bottom: 8rem;
    }

    .title {
        margin-bottom: 4rem;
    }
}
