.Main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    .appLogo {
        margin-bottom: 8rem;
    }

    .title {
        margin-bottom: 4rem;
    }

    .textLineDividerContainer {
        width: 100%;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .externalAuthActionsContainer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        column-gap: 16px;
    }

    .signUpActionContainer {
        display: flex;
        align-items: center;

        .text {
            font-size: 1.4rem;
        }
    }
}
